*{
    box-sizing: border-box;
}
body{
    color: var(--Black);
    background-color: var(--Background);
    font-family: 'droid_sansregular';
}
h1{
    font-size: var(--heading-1);
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    padding-left: 15px;
    
}
h2 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    padding-left: 15px;
    background-color: var(--Beige2);
    margin-right: 20%;
    padding-right: 25px;
}

p{
    padding-left: 25px;
    padding-right: 25px;
}

footer{
    color: var(--Background);
    background-color: var(--Black);
    margin-bottom: -35px;
}

strong{
    color:var(--Purple);
    font-weight: bold;
}

em{
    font-weight: bold;
    font-style: normal;
}

.article__header {
    display:block;
}
.article__header--title {
    display:block;
    background-color: var(--Beige);
    padding-left: 15px;
    padding-right: 10px;
    margin-right: 10%;
    margin-top: -15%;
    position: relative;
    text-align: center;

}

/*Menu*/
button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    z-index: 60;
  }

.noscroll,
.noscroll body {
  overflow: hidden;
}
