.article__header--img {
    max-width: 100%;
    height: auto;
  }

  img {
    max-width: 85%;
    height: auto;
    text-align: center;
    margin: auto;
    display:flex
  }
  
  figure {
    margin: 0;

  }
  
  figcaption {
    font-size: var(--small-text);
    background-color: var(--Beige2);
    width: 80%;
    padding-left: 15px;
  }

