.article__header--img {
    max-width: 100%;
    height: auto;
  }

  img {
    max-width: 85%;
    height: auto;
    text-align: center;
    margin: auto;
    display:flex
  }
  
  figure {
    margin: 0;

  }
  
  figcaption {
    font-size: var(--small-text);
    background-color: var(--Beige2);
    width: 80%;
    padding-left: 15px;
  }

  .hero{
    background-color: var(--HeroBackground);
    padding-top: 3%;
    display :block;
    margin-bottom: auto;
}

.hero__title{
    font-family: 'Bebas Neue', cursive;
    background-color: var(--Beige);
    display: flex;
    margin-right: 0;
    margin-left: auto;
    padding-right: 25px;
    padding-top: 3px;
    margin-top: 18%;
}

.hero__titlebox{
    display: flex;

}

.hero__img1 {
    display: flex;
    margin-right: 0px;
    width: 46.9%;
    height: auto;
    margin-left: auto;
    z-index: 2;
    margin-top: -53%;
}
.hero__img2 {
    display: flex;
    margin-left: 0px;
    z-index: -1;
    width: 65.4%;
    height: auto;
    margin-top: 15%;

}


.tweet{
    background-color: var(--HeroBackground);
    margin-top: 70px;
    
}

.tweet__img {
    display: block;
    margin-right: 0px;
    width : 93%;
    height: auto;
    position: relative;
    margin-top: -10%;

}

.tweet__text {
    display: block;
    background-color: var(--Pink);
    padding-left: 4%;
    margin-right: 9%;
    margin-top: -8%;
    position: relative;
}

.tweet__title {
    display: block;
    width: 89%;
    height: auto;
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: -6%;
    margin-top: auto;
    position: relative;
    z-index: 50;

}

