footer {
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.footer__social {
    display:flex;
    justify-content: center;
    width: 38%;
}
.footer__icons {
    display:flex;
    justify-content: center;
    width: 38%;
    height: auto;
    align-items: center
}
.footer__icons--icon {
    display:flex ;
    width: 24px;

}

.footer__text {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;

}

.footer_logoMMI {
    width: 47px;
    height: auto;
}

footer a {
    text-decoration : none;
    color: var(--Background);
    font-weight: bold;
}

.footer__title {
    font-size: var(--Body-2);
    text-transform: uppercase;
    font-weight: lighter;
}

.footer__trait {
    display: flex;
    border-top: 1px solid;
    color: var(--Background);
    width : 28%;
    margin-top: 7%;
}

.footer__name {
    display:flex;
    justify-content: center;
    font-weight: lighter;
}