footer {
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.footer__icons {
    display:flex;
    justify-content: center;
    width: 38%;
    height: auto;
    align-items: center
}
.footer__icons--icon {
    display:flex ;
    width: 24px;

}

.footer__logo