.tweet__btn{
    background-color: var(--Purple);
    color: var(--Background);
    text-decoration: none;
    padding: 10px;
    width: 152px;
    border-radius: 10px;
    text-align: center;
    display: block ;
    margin-left: auto;
    margin-right: 13px;
    margin-top: -25px;
    position: relative;
    border: 1px solid black;
}

.tweet__btn::before{
    content: "→";
}