.form__categorie {
    display: block;
}

/*choix des dimensions des entrées du form*/
.form__entree {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 35px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Entree pour le message plus grande que les autres*/
#message{
    width: 100%;
    height: 150px;
}

.form__btn {
        text-decoration: none;
        padding: 2px;
        text-align: center;
        display: block;
        border: 1px solid var(--Black);
        border-radius: 3px;
        margin-left: auto;
        margin-top: 7%;
        padding: 7px;
        width: fit-content;
}