.form__categorie {
    display: block;
}

.form.entree {
    display: block;
    
}

.form {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}

.form__btn {
        text-decoration: none;
        padding: 2px;
        text-align: center;
        display: block;
        border: 1px solid var(--Black);
        border-radius: 3px;
        margin-left: auto;
        margin-right: 3%;
        width: fit-content;
    }