.Frise__title {
    background-color: var(--Beige);
    margin-right: 10%;
}

/*Dates dde la frise avec fond different du reste du texte*/
.Frise__Date {
    display:flex;
    width:fit-content;
    background-color: var(--Pink);
    font-weight: bold;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    margin-top: 0px;
    margin-bottom: 0px;

}

/*Caractéristiques communes aux textes de la frise*/
.Frise__TexteGauche, .Frise__TexteDroite {
    display:flex;
    background-color:var(--Beige2) ;
    margin-top: 0px;
    margin-bottom: 0px;
}

.Frise__TexteGauche em, .Frise__TexteDroite em{
    display: contents;
}

/*Texte de la frise arrivant de la gauche*/
.Frise__TexteGauche {
    margin-right: 45.4%;
    padding-right: 5px;
    padding-left: 15px ;
}

/*Texte de la frise arrivant de la droite*/
.Frise__TexteDroite {
    margin-left: 45.4%;
    padding-left: 5px ;
    padding-right: 15px;
}

/*ligne verticale de la frise entrecoupée avec des éléments de textes*/
.Frise__Ligne {
    display: block;
    height: 30px;
    width : 5px;
    background-color: var(--Purple);
    margin-left: auto;
    margin-right: auto;
}
/*Code permettant de donner le bout en forme de triangle de la fleche allant vers le bas*/
#triangle-down{
    margin-top: -1px;
    display: flex;
    position: relative;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 40px solid var(--Purple);
    margin-left: auto;
    margin-right: auto;
}

/*Pointillés reliant 2 textes de la frise permettant de rendre le rapport entre les 2 évènements explicite*/
.Frise__Pointilles{
      position: relative;
  }
.Frise__Pointilles::after {
    content: '';
    height: 80%;
    width: 10vw;
    position: absolute;
    top: 20%;
    left: 54.6%;
    border: 3px dashed var(--Beige);
    border-bottom: transparent;
    border-left: none;
    z-index: -1;
}