.galerie {
    display: block;
}

.galerie__title {
    display:flex;
    width:fit-content;
    margin-left: 0px;
    margin-right: auto;
    padding-right: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    margin-top: 0px;
}

.galerie__img {
    background-color: var(--TextBackground);
    width: 107px;
    height: auto;
    margin-left: 11px;
    float:left;
}

.galerie__text {
    background-color: var(--TextBackground);
}