
.glossaire__title {
    display:flex;
    background-color: var(--Beige);
    width:fit-content;
    margin-left: auto;
    margin-right: 0px;
    padding-right: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    margin-top: 0px;
}