nav{
    display: none;
}

nav {
    background-color: var(--Black);
}
header{
    display: flex;
}
.header__start{
  margin-left: 3px;
}

.header__img{
    width: 145px;
    height: auto;
}

.header__end{
    display: flex;
    margin-right: 21px;
    margin-left: auto;
}

.header__menu {
    
}
