.menu {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    font-size: var(--menu);
    letter-spacing: var(--letter-spacing);
    transform: translateX(100%);
    transition: all .6s ease;
    z-index: 55;
  }
  
.menu__open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }

.menu__list {
    margin-top: 25vh;
    margin-left: 15vw;
}

.menu__item {
    margin-top: 10%;
}

.menu__link {
    color: white;
    text-decoration: none;
}