.menu {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Black);
    font-size: var(--Body-1);
    transform: translateX(100%);
    transition: all .6s ease;
    z-index: 6;
    text-align: center;
    font-size: 18px;
  }
  
.menu__open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }

.menu__list {
    margin-top: 23%;
    padding-left: 9%;
    padding-right: 9%;
}

.menu__item {
    position: relative;
    text-align: center;
    margin-top: 16%;
    margin-bottom: 16%;
}

.menu__link {
    color: var(--Background);
    text-decoration: none;
    text-align: center;
    position: center;
    font: var(--body-2);
}

.menu__item::after{
    content: '';
    position: absolute;
    width: 20%;
    height: 1.5px;
    background-color: white;
    top: calc(100% + 6.93vw);
/*left pour placer à 50% de la page et transform pour enlever 50% de l'élément : permet de le placer au milieu de la page*/
    left: 50%;
    transform: translateX(-50%);
}
.menu__item:last-child::after{
    content: '';
    position: absolute;
    width: 20%;
    height: 1.5px;
    background-color: var(--Black);
    margin-top: 8%;
    margin-right: 50%;
}

.menu__cross {
    display: flex;
    margin-right: 21px;
    margin-left: auto;
}

.menu__langue {
    text-decoration: none;
    color: var(--Background);
    margin-top: 15px;
    font-size: 24px;
}

.menu__langue--fr {
    text-decoration: none;
    color: var(--Background);
}
