.projet__title {
    background-color: var(--Beige);
    margin-right: 0px;
    margin-left: auto;
    padding-right: 15px;
    width: min(90%);
    position: relative;
    z-index: 60;
}

.projet__text {
    background-color: var(--Beige2);
    width: 73% ;
    padding-top: 10px;
    padding-bottom: 4px;
    margin-top: -28px;
}

.projet__btn {
    display: flex;
    margin-top: -22px;
}
